form {
    background-image: url('photo-1522071820081-009f0129c71c.avif');
    background-size: cover; /* Ajustement de la taille de l'image */
    background-position: center; /* Position de l'image */
    padding: 20px; /* Marge intérieure pour l'espace entre le contenu et le bord du formulaire */
    width: 300px; /* Largeur du formulaire */
    margin: 50px auto; /* Centrage du formulaire */
    border-radius: 10px; /* Coins arrondis du formulaire */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre portée du formulaire */
    color: rgb(0, 0, 0); /* Couleur du texte à l'intérieur du formulaire */
}

